version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    rebase-strategy: "auto"
    labels:
      - "c-dependencies"
    groups:
      burn-dependencies:
        patterns:
          - "burn*"
        update-types:
          - "minor"
          - "patch"
